<a href="https://colab.research.google.com/github/asiya00/Data-Science/blob/main/Data_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#importing the data

filename = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DA0101EN/auto.csv"

In [ ]:
headers = ["symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price"]

In [ ]:
#dataframe
df = pd.read_csv(filename, names=headers)

In [ ]:
#first few lines of df
df.head()

In [ ]:
#missing or garbage values
import numpy as np

df.replace("?", np.nan, inplace=True)

In [ ]:
df.head()
#? is replaced with Not a Number

In [ ]:
df.info()

#price, peak-rpm, horsepower, bore, stroke, num-of-doors, normalized-losses

In [ ]:
#replace missing value with mean/average


avg_normloss = df['normalized-losses'].astype('float').mean(axis='index')

In [ ]:
avg_normloss

In [ ]:
df['normalized-losses'].replace(np.nan, avg_normloss, inplace=True)

In [ ]:
df.head(10)

In [ ]:
#bore

avg_bore = df['bore'].astype('float').mean(axis='index')

df['bore'].replace(np.nan, avg_bore, inplace=True)

In [ ]:
#stroke


avg_stroke = df['stroke'].astype('float').mean(axis='index')

df['stroke'].replace(np.nan, avg_stroke, inplace=True)

In [ ]:
#horsepower

avg_horsepower = df['horsepower'].astype('float').mean(axis='index')

df['horsepower'].replace(np.nan, avg_horsepower, inplace=True)

In [ ]:
#peak-rpm

avg_peakrpm = df['peak-rpm'].astype('float').mean(axis='index')

df['peak-rpm'].replace(np.nan, avg_peakrpm, inplace=True)

In [ ]:
#num-of-doors
#Average might give a float and a car cannot have a decimal number of doors
#replacing missing value with mode - value that maximum times in the columns

df['num-of-doors'].value_counts()

In [ ]:
df['num-of-doors'].replace(np.nan, "four", inplace=True)

In [ ]:
df.info()

In [ ]:
#price
#delete rows for missing values in target variable
#axis = 'index' (rows) and axis='columns' (columns)

df.dropna(subset=['price'], axis='index', inplace=True)

In [ ]:
df

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df

In [ ]:
df.info()

In [ ]:
#summary
#drop
#replace with mean/average
#replace with mode/highest frequency

In [ ]:
df.dtypes

In [ ]:
df.head()

In [ ]:
df[['bore',"stroke","price","peak-rpm"]] = df[['bore',"stroke","price","peak-rpm"]].astype('float')

df[['normalized-losses']] = df[['normalized-losses']].astype('int')

In [ ]:
df.dtypes

In [ ]:
df[['horsepower']] = df[['horsepower']].astype('int')

In [ ]:
#Convert mpg to Lt per 100km
#L/100km = 235/mpg

df['city-L/100km'] = 235/df['city-mpg']

df['highway-L/100km'] = 235/df['highway-mpg']

In [ ]:
df.head()